html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #555565;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #50bbd8, #555565), repeating-radial-gradient(circle at center center, #50bbd8, #50bbd8, 26px, transparent 52px, transparent 26px);
    background-blend-mode: multiply;
    }
@font-face {
    font-family:'urbanist';
    src: url("./urbanist/Urbanist[wght].ttf") format('truetype');
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content : flex-start;
    align-items: center;
    flex: 1;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: span 13;
        padding: 20px;
        margin: 0;
        backdrop-filter: blur(15px);
        width: 1880px;
        
    }
    .logo{
        margin-left: 10px;
    }
    .login{
        font-family: 'urbanist', sans-serif;
        display: table;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 10px 20px;
        display: inline-block;
        transition: background-color 0.3s, color 0.3s;

        &:hover{
            background-color: #374f61;
            color: #ffffff;
            cursor: pointer;
        }
    }
    .header-mid{
        background-color: #ffffff31;
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 20px;
        display: flex;
        justify-content: center;
        flex: 1;
        margin: 0 650px;
    }
    .item{
        font-family: 'urbanist', sans-serif;
        display: inline-block;
        transition: background-color 0.3s, color 0.3s;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 12px;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;

        &:hover{
            background-color: #ffffff31;
            color: #ffffff;
            cursor: pointer;
        }
        
    }
    .center{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        text-align: center;
        padding-top: 200px;

        h1{
            font-size: 80px;
            font-family: 'urbanist', sans-serif;
            color: white;
            margin: 0;
            letter-spacing: 0.5px;
        }

        p{
            font-size: 24px;
            font-family: 'urbanist', sans-serif;
            color: white;
            margin-top: 10px;
            letter-spacing: 2px;
        }
        .email{
            border: 1px solid white;
            border-radius: 5px;
            background-color: #ffffff0f;
            backdrop-filter: blur(15px);
            font-family: 'urbanist', sans-serif;
            padding: 5px;
            color: white;
            font-size: 25px;
            margin: 100px 10px;
            
        }
        .submit{
            border: 1px solid white;
            border-radius: 5px;
            font-family: 'urbanist', sans-serif;
            background-color: #ffffff;
            backdrop-filter: blur(15px);
            padding: 5px;
            color: rgb(0, 0, 0);
            font-size: 20px;
            display: inline-block;
            transition: background-color 0.3s, color 0.3s;

            &:hover{
                background-color: #374f61;
                color: #ffffff;
                cursor: pointer;
            }
        }
        
    }
    
}
