html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #555565;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #50bbd8, #555565), repeating-radial-gradient(circle at center center, #50bbd8, #50bbd8, 26px, transparent 52px, transparent 26px);
  background-blend-mode: multiply;
}

@font-face {
  font-family: "urbanist";
  src: url("./urbanist/Urbanist[wght].ttf") format("truetype");
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: span 13;
  padding: 20px;
  margin: 0;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 1880px;
}
.container .logo {
  margin-left: 10px;
}
.container .login {
  font-family: "urbanist", sans-serif;
  display: table;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}
.container .login:hover {
  background-color: #374f61;
  color: #ffffff;
  cursor: pointer;
}
.container .header-mid {
  background-color: rgba(255, 255, 255, 0.1921568627);
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0 650px;
}
.container .item {
  font-family: "urbanist", sans-serif;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.container .item:hover {
  background-color: rgba(255, 255, 255, 0.1921568627);
  color: #ffffff;
  cursor: pointer;
}
.container .center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  text-align: center;
  padding-top: 200px;
}
.container .center h1 {
  font-size: 80px;
  font-family: "urbanist", sans-serif;
  color: white;
  margin: 0;
  letter-spacing: 0.5px;
}
.container .center p {
  font-size: 24px;
  font-family: "urbanist", sans-serif;
  color: white;
  margin-top: 10px;
  letter-spacing: 2px;
}
.container .center .email {
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.0588235294);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  font-family: "urbanist", sans-serif;
  padding: 5px;
  color: white;
  font-size: 25px;
  margin: 100px 10px;
}
.container .center .submit {
  border: 1px solid white;
  border-radius: 5px;
  font-family: "urbanist", sans-serif;
  background-color: #ffffff;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}
.container .center .submit:hover {
  background-color: #374f61;
  color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=interface.css.map */