html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    ::-webkit-scrollbar{
        width: 15px;
    }
    ::-webkit-scrollbar-track{
        background: #101620;
    }
    ::-webkit-scrollbar-thumb{
        background: #3d5161;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff73;
    }
    }
@font-face {
    font-family:'urbanist';
    src: url("./urbanist/Urbanist[wght].ttf") format('truetype');
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content : flex-start;
    overflow-x: hidden;
}
.container{
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    .landingBG{
        background-color: #b4d0ff;
        background-image: radial-gradient(circle at center center, #50bbd8, #555565), 
        repeating-radial-gradient(circle at center center, #50bbd8, #50bbd8, 26px, 
        transparent 52px, transparent 26px), 
        linear-gradient(180deg, rgba(0, 0, 0, 0), #000000 90%) ;
        background-blend-mode: multiply;
        height: 100vh;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin: 0;
        backdrop-filter: blur(15px);
        width: 1880px;
        
    }
    .logo{
        margin-left: 10px;
    }
    .login{
        font-family: 'urbanist', sans-serif;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-right: 10px;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
        color: black;

        &:hover{
            background-color: #374f61;
            color: #ffffff;
            cursor: pointer;
        }
    }
    .header-mid{
        background-color: #ffffff31;
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 20px;
        display: flex;
        justify-content: center;
        flex: 1;
        margin: 0 650px;
    }
    a {
        font-family: 'urbanist', sans-serif;
        display: inline-block;
        transition: background-color 0.3s, color 0.3s;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 12px;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;

        &:hover{
            background-color: #ffffff31;
            color: #ffffff;
            cursor: pointer;
        }
        
    }
    .center{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        text-align: center;
        padding-top: 200px;

        h1{
            font-size: 80px;
            font-family: 'urbanist', sans-serif;
            color: white;
            margin: 0;
            letter-spacing: 0.5px;
            font-weight: 600;
        }

        p{
            font-size: 24px;
            font-family: 'urbanist', sans-serif;
            color: white;
            margin-top: 10px;
            letter-spacing: 2px;
            font-weight: 300;
        }
        .email{
            border: 1px solid white;
            border-radius: 5px;
            background-color: #ffffff0f;
            backdrop-filter: blur(15px);
            font-family: 'urbanist', sans-serif;
            padding: 5px;
            color: white;
            font-size: 25px;
            margin: 100px 10px;
            
        }
        .submit{
            border: 1px solid white;
            border-radius: 5px;
            font-family: 'urbanist', sans-serif;
            background-color: #ffffff;
            backdrop-filter: blur(15px);
            padding: 5px;
            color: rgb(0, 0, 0);
            font-size: 20px;
            display: inline-block;
            transition: background-color 0.3s, color 0.3s;

            &:hover{
                background-color: #374f61;
                color: #ffffff;
                cursor: pointer;
            }
        }
        
    }
    .meetbolt{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        text-align: center;
        padding-top: 50px;
        background-color: #000000;
        .textMB{
            background-color: #070707;
            border: 1px solid #ffffff24;
            border-radius: 10px;
            margin: 0 0 20px 0;
            padding: 50px 0 50px 0;

            h2{
                background-color: #0e0e0e;
                border: 2px solid #ffffff24;
                font-weight:200;
                padding: 10px;
                font-family: 'urbanist', sans-serif;
                color: #ffffff;
                border-radius: 50px;
                margin-left: 500px;
                margin-right: 500px;
            }

            p{
                font-family: 'urbanist', sans-serif;
                color: rgb(255, 255, 255);
                letter-spacing: 2px;
                font-size: 29px;
                font-weight: 100;
            }
        }
    }
    .ourWork{
        background-color: #000000;
        overflow: auto;

        .textOW{

            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 100px;

            .ourWorkItem{
                font-family: 'urbanist', sans-serif;
                color: white;
                background-color: #070707;
                border: 1px solid #ffffff24;
                border-radius: 10px;
                margin: 10px;
                height: 200px;
                width: 300px;

            }
            .logoOW{
                display: block;
                margin: 10px;
                height: 50%;
                width: 50%;

            }
        }
    }
}